<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Certranker - Home</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" type="image/png" href="favicon-16x16.png"/>
</head>
<body>
<header>
    <div th:replace="fragments/header :: header"></div>
</header>

<main>
    <section id="home" class="hero-section">
        <div class="hero-content">
            <h1>Welcome to Certranker</h1>
            <p>Find, Submit, and Vote for the Best Learning Resources for Microsoft Certifications.</p>
            <a href="#certifications" class="btn">Browse Certifications</a>
        </div>
    </section>

    <!-- Certifications List Section -->
    <section id="certifications" class="certifications-section">
        <div class="container">
            <h2>Popular Microsoft Certifications</h2>
            <ul class="cert-list" th:each="cert : ${certs}">
                <li>
                    <a th:href="@{'/certs/' + ${cert.id}}">
                        <img src="https://via.placeholder.com/50" alt="Certification Icon">
                        <div class="cert-info">
                            <h3 th:text="${cert.id + ' : ' + cert.name}">Microsoft Azure Fundamentals</h3>
                            <p th:text="${#strings.substring(cert.description,0,200) + '...'}">Beginner-level certification focusing on the basics of cloud services and Azure.</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</main>

<footer>
   <div th:replace="fragments/footer :: footer"></div>
</footer>
<script>
    const hamburger = document.getElementById('hamburger');
    const navLinks = document.getElementById('nav-links');

    hamburger.addEventListener('click', () => {
        navLinks.classList.toggle('show');
    });
</script>
</body>
</html>